body{

  color: #83c5be;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.2rem;
  line-height: 1.5;
  font-weight: 400;
}

.contact-us-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
  background-image: url("../images/bgimg.jpg");

}

.greeting-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 30px;
}

.greeting-card h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.greeting-card p {
  font-size: 1.2rem;
  text-align: center;
  margin-bottom: 30px;
}

.social-media-links {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.social-media-links a {
  font-size: 2rem;
  margin: 0 20px;
  color: #333;
  transition: all 0.3s ease-in-out;
}

.social-media-links a:hover {
  color: #EEEEEE;
  transform: translateY(-5px);
}

.contact-details {
  font-size: 1.2rem;
  margin-bottom: 30px;
}

.pet-image {
  height: 100%;
  max-width: 400px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
