body {
  align-items: center;
  justify-content: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background: linear-gradient(
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.3)
    ),
    url("https://img.freepik.com/free-vector/frame-with-dogs-vector-white-background_53876-127700.jpg?w=2000");
  overflow: scroll;
}

.divider:after,
.divider:before {
  content: "";
  flex: 1;
  height: 1px;
  background: #eee;
}
.h-custom {
  height: calc(100% - 73px);
}
@media (max-width: 450px) {
  .h-custom {
    height: 100%;
  }
}

.left-list {
  margin-left: 30%;
}
.right-list {
  margin-right: 30%;
}

.form-heading {
  text-align: center;
  margin: 3% auto;
  width: 40%;
  background-color: #f0f0df;
  border-radius: 25px;
}
.form-label {
  text-align: left;
  padding-right: 10px;
}

.service {
  text-align: left;
  margin: 20px auto;
  width: 60%;
}
.service-heading{
  text-align: center;
  text-decoration: solid;
  color: rgb(165, 74, 9);
}

.errorMessage {
  color: red;
  font-size: 0.8em;
  margin: 0;
  padding: 0;
  display: none;
}
input:invalid[focused="true"] ~ .errorMessage {
  display: block;
}

label {
  display: inline-block;
  text-align: right;
}

footer {
  background-color: rgb(247, 242, 231);
  height: 50px;
  width: 100%;
  position: absolute;
  bottom: 0;
  text-align: center;
  padding-top: 10px;
}
