.poodal-card {
  width: 400px;
  height: 600px;
  margin: 100px auto;
    border-radius: 20px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    transition: 0.5s ease-in-out;
}
.poodal-card:hover{
    transform: scale(1.05);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);

}
.poodal-card-body {
  text-align: justify;
  padding: 10px;
  font-size: 1rem;
}

.poodal-card-body span {
  margin-left: auto;
}

.poodal-card-img-top {
  align-self: center;
  width: 80%;
  height: 300px;
}
